@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway&family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Poppins-Regula", Arial;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

li {
  list-style-type: none;
  /* Убираем маркеры */
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------------------------*/
body {
  background-color: #242b33;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
}

body._lock {
  overflow: hidden;
}

a {
  color: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}

.wrapper-num {
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
}

.right {
  position: absolute;
  top: 40px;
  right: 0;
}

.left {
  position: absolute;
  top: 80px;
  left: 0;
}

.title {
  font-family: Playfair Display;
  font-weight: 700;
  color: #d4c17f;
}
@media (max-width: 767px) {
  .title {
    font-size: calc(26px + 17 * ((100vw - 375px) / 1950));
  }
}
@media (min-width: 767px) {
  .title {
    font-size: calc(26px + 10 * (100vw / 1950));
  }
}

.form {
  display: flex;
  height: 80px;
  justify-content: space-between;
  flex-wrap: no-wrap;
}
.form__btn {
  background: rgb(212, 193, 127);
  color: #fff;
  padding: 13px 7px;
  font-size: 16px;
  transition: all 0.2s;
  flex: 1 1 25%;
}
.form__btn:hover {
  background: #9e8f57;
}
.form__btn:focus {
  background: #584c25;
}
.form__sub-text {
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  flex: 1 1 25%;
}
.form__input {
  font-family: inherit;
  padding: 15px;
  border: 0;
  color: #fff;
  font-size: 15px;
  background-color: rgba(251, 249, 249, 0.231372549);
  flex: 1 1 25%;
  transition: all 0.2s;
}
.form__input:focus {
  box-shadow: 0 0 5px;
}
.form__input::-webkit-input-placeholder {
  color: rgb(190, 190, 190);
  text-align: center;
}
.form__input::-moz-placeholder {
  color: rgb(190, 190, 190);
  text-align: center;
}
.form__input:-ms-input-placeholder {
  color: rgb(190, 190, 190);
  text-align: center;
}
.form__input::-ms-input-placeholder {
  color: rgb(190, 190, 190);
  text-align: center;
}
.form__input::placeholder {
  color: rgb(190, 190, 190);
  text-align: center;
}
.form__input:last-child {
  margin-right: 0px;
}
.form__input:first-child {
  margin-left: 0px;
}

.menu {
  font-size: 14px;
}
.menu__link {
  color: #fff;
}
.menu__link:hover {
  color: #d4c17f;
  transition: all 0.2s;
}

.header {
  max-width: 100%;
  height: 800px;
  position: relative;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 1px);
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%);
  z-index: 1;
}
.header__container {
  height: 94%;
}
.header__bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.header__wrapper {
  padding-top: 25%;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header__menu-wrapper {
  padding: 15px 0;
  min-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  z-index: 5;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1135px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.header__logo {
  z-index: 5;
}
.header__icon {
  display: none;
}
.header__content {
  text-align: center;
}
.header__title h1 {
  font-weight: 700;
  font-family: Playfair Display;
  color: #d4c17f;
  max-width: 700px;
  text-align: center;
  line-height: 64px;
}
@media (max-width: 767px) {
  .header__title h1 {
    font-size: calc(28px + 34 * ((100vw - 375px) / 1950));
  }
}
@media (min-width: 767px) {
  .header__title h1 {
    font-size: calc(28px + 20 * (100vw / 1950));
  }
}
.header__title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  z-index: 2;
}
.header__info {
  display: flex;
  justify-content: center;
  margin-left: 253px;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 2;
}
.header__item {
  display: flex;
  margin-right: 100px;
}
.header__item:last-child {
  margin: 0px 0px 0px 0px;
}
.header__item img {
  margin-right: 18px;
}
.header__text {
  font-family: Raleway;
  font-size: 18px;
}

.info {
  padding: 120px 0 80px;
}
.info__wrapper {
  display: flex;
  max-width: 794px;
  margin: 0 auto;
}
.info__item {
  text-align: center;
  margin-right: 10px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  padding: 25px 10px;
}
.info__item:nth-child(4) {
  margin: 0;
}
.info__img {
  margin-bottom: 50px;
}
.catalog {
  max-width: 100%;
}
.catalog__title {
  margin-bottom: 100px;
}
.catalog__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  justify-items: center;
}
.catalog__wrapper {
  position: relative;
  z-index: 1;
}
.catalog__subtitle {
  position: absolute;
  bottom: 48px;
  left: 46px;
  z-index: 3;
  line-height: 28px;
  font-size: 24px;
}
.catalog__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  background: linear-gradient(rgba(36, 43, 51, 0) 0%, #242B33 100%);
  z-index: 2;
}
.catalog__img-grid {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.application {
  position: relative;
  margin: 15px 0 50px;
  max-width: 100%;
  height: 580px;
}
.application::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: calc(100% + 2px);
  background: linear-gradient(180deg, #242B33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242B33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9));
  z-index: 1;
}
.application__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 0;
}
.application__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 180px 0px;
  gap: 35px;
}
.application__block {
  z-index: 2;
}
.application__title {
  margin-bottom: 50px;
}
.application__text {
  z-index: 2;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}
.application__form {
  display: grid;
  grid-template-columns: 255px 255px;
  grid-template-rows: 53px;
  align-items: center;
  z-index: 2;
  gap: 35px 30px;
}
.application__btn {
  order: 1;
}
.video__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.video__btn img {
  transition: all 0.2s;
}
.video__btn img:hover {
  transform: scale(1.1);
}
.video__play {
  margin: 80px auto 80px;
  position: relative;
  width: 720px;
  height: 650px;
}
.video__img {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.video__main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 1;
}

.question__title {
  margin-bottom: 60px;
}
.question__row {
  display: flex;
  height: 50px;
  justify-content: space-between;
}
.question__input {
  flex: 0 1 calc(25% - 30px);
  margin-right: 30px;
}
.question__btn {
  flex: 0 1 calc(25% - 30px);
}
.question__sub-text {
  margin-right: 35px;
  flex: 0 1 calc(25% - 30px);
  order: -1;
}

.footer {
  background-color: #2D343C;
  margin-top: 60px;
  padding: 40px 0;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo {
  margin: 0 10px;
}
.footer__menu li {
  padding: 10px 0;
}
.footer__contacts {
  margin: 0 10px;
}
.footer__contacts p {
  margin-bottom: 15px;
}
.footer__contacts a {
  color: #D4C17F;
  font-weight: 700;
  letter-spacing: 0.15rem;
}
.footer__social {
  display: flex;
  align-items: center;
}
.footer__social li {
  margin-right: 20px;
}
.footer__social li:last-child {
  margin-right: 0;
}

.fancybox__caption {
  font-size: 30px;
}

.error {
  box-shadow: 0px 0px 26px 5px rgba(130, 0, 0, 0.81);
}

@media (min-width: 767px) {
  .menu {
    display: flex;
    align-items: center;
  }
  .menu li {
    padding: 10px 0;
    margin-right: 40px;
  }
  .menu li:last-child {
    margin-right: 0px;
  }
}
@media (max-width: 1620px) {
  .header {
    height: 760px;
  }
}
@media (max-width: 1330px) {
  .header {
    height: 580px;
  }
  .info {
    padding: 60px 0px;
  }
}
@media (max-width: 1100px) {
  .header__info {
    margin: 0 auto;
  }
  .header__title h1 {
    line-height: 44px;
  }
  .header__item img {
    margin-right: 10px;
  }
}
@media (max-width: 970px) {
  .footer__menu li {
    margin: 0;
  }
  .menu-bottom {
    display: block;
    text-align: center;
  }
  .menu-bottom li {
    margin-right: 0;
  }
  .catalog__subtitle {
    font-size: 20px;
  }
}
@media (max-width: 860px) {
  .logo img {
    width: 100px;
  }
  .header {
    background-position: center;
    background-size: cover;
  }
  .header__title h1 {
    line-height: 52px;
    max-width: 420px;
  }
  .header__info {
    flex-direction: column-reverse;
    align-items: center;
  }
  .header__item {
    padding-top: 15px;
    margin-right: 0px;
  }
  .header__item:last-child {
    padding-top: 0;
  }
  .header__top {
    min-height: 0;
  }
  .application__row {
    padding: 100px 0px;
  }
  .application__form {
    width: 80%;
    display: block;
    height: auto;
  }
  .application__btn {
    width: 70%;
    margin: 0;
    order: -1;
    margin: 25px 0px 10px 0px;
  }
  .application__sub-text {
    width: 70%;
    margin: 0;
    font-size: 11px;
  }
  .application__item {
    flex-direction: column;
  }
  .application__input {
    width: 70%;
    margin: 0 0 15px;
  }
  .application__input:last-child {
    margin: 0px;
  }
  .question__title {
    text-align: center;
    margin-bottom: 60px;
  }
  .question__row {
    width: 50%;
  }
  .question__sub-text {
    margin-right: 0px;
    margin-bottom: 95px;
    font-size: 11px;
    order: 1;
  }
  .form {
    height: auto;
    flex-direction: column;
    margin: 0 auto;
  }
  .form__input {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
  .form__input:first-child {
    margin: 0 0 15px;
  }
  .form__btn {
    width: 100%;
    margin: 25px 0px 10px 0px;
  }
  .form__sub-text {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .header__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 19px;
    cursor: pointer;
    z-index: 5;
  }
  .header__icon::after, .header__icon::before, .header__icon span {
    content: "";
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .header__icon::before {
    top: 0;
  }
  .header__icon::after {
    bottom: 0;
  }
  .header__icon span {
    top: 50%;
    transform: translate(0px, -50%);
  }
  /* icon */
  .header__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .header__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  /*icon */
  .menu {
    display: block;
  }
  .header {
    /*! полоска-прокладка для мобильного меню s */
    /* полоска-прокладка для мобильного меню end */
  }
  .header__menu {
    position: fixed;
    z-index: 2;
    left: -100%;
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.759);
    box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.36);
    padding: 108px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    /*! обязательно добавить для скрола меню */
    overflow: auto;
    top: 0;
  }
  .header__menu._active {
    left: 0;
  }
  .header__menu li {
    margin: 0px 0px 20px 0px;
    text-align: center;
  }
  .header__top::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100px;
    z-index: 2;
  }
  .info__wrapper {
    margin: 0px 10px 0px 10px;
    flex-wrap: wrap;
  }
  .info__item {
    flex: 0 1 50%;
    max-width: none;
    margin-right: 0;
    padding: 20px 10px;
  }
  .right img,
.left img {
    height: 200px;
    max-width: 100%;
    top: 40px;
  }
  .title {
    font-size: 30px;
  }
  .catalog__title {
    margin-bottom: 60px;
  }
  .video__play {
    max-width: 525px;
    max-height: 500px;
  }
  .footer__row {
    display: block;
    text-align: center;
  }
  .footer__logo img {
    margin-bottom: 40px;
  }
  .footer__menu {
    margin-bottom: 40px;
  }
  .footer__social {
    justify-content: center;
  }
}
@media (max-width: 650px) {
  .title {
    font-size: 26px;
    text-align: center;
  }
  .header {
    height: 390px;
  }
  .header__wrapper {
    padding-top: 167px;
  }
  .header__title h1 {
    line-height: 37px;
  }
  .info__img img {
    width: 60px;
  }
  .info__text {
    font-size: 16px;
  }
  .catalog__title {
    margin-bottom: 30px;
  }
  .catalog__wrapper {
    margin-bottom: 15px;
  }
  .catalog__grid {
    display: block;
  }
  .application__row {
    gap: 0px;
    grid-template-columns: 100%;
    padding: 70px 0;
  }
  .application__title {
    margin-bottom: 10px;
  }
  .application__form {
    width: 65%;
  }
  .application__text {
    font-size: 14px;
    text-align: center;
    margin-bottom: 40px;
  }
  .question__row {
    width: 65%;
  }
  .left {
    top: 40px;
  }
}
@media (max-width: 490px) {
  .catalog__item {
    height: 210px;
    width: 330px;
  }
  .catalog__subtitle {
    font-size: 18px;
    bottom: 30px;
    left: 30px;
  }
  .video__play {
    max-width: 281px;
    max-height: 254px;
  }
  .video__btn img {
    width: 50px;
    height: 50px;
  }
  .right img,
.left img {
    height: 120px;
    max-width: 100%;
  }
}